[user]
	name = jonassa
	email = jonas.sandb@gmail.com
[core]
[pager]
    log  = /usr/bin/diffr | less -RFX
    show = /usr/bin/diffr | less -RFX
    diff = /usr/bin/diffr | less -RFX
	branch = false
    reflog = false
[diff]
	tool = nvim -d
[difftool]
	prompt = false
#lulz
[color]
	interactive = auto
	pager = true
	ui = auto
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
