[user]
	name = jonassa
	email = jonas.sandb@gmail.com
[core]
[pager]
    log  = /usr/bin/diffr | less -RFX
    show = /usr/bin/diffr | less -RFX
    diff = /usr/bin/diffr | less -RFX
	branch = false
    reflog = false
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[difftool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[color]
	interactive = auto
	pager = true
	ui = auto
[color "status"]
	added = green
	untracked = cyan
