Use_Label=false
Show_Values=false
Show_Bars=true
Colorize_Values=true
Color_In=rgb(233,185,110)
Color_Out=rgb(255,79,0)
Text=net
Network_Device=wlp2s0
Max_In=12800000
Max_Out=12800000
Auto_Max=false
Update_Interval=250
Values_As_Bits=true

